<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <ul>
      <li><a>{{ title }}</a></li>
    </ul>
  </header>
  <main>
    TODO
  </main>
</body>
</html>
